@import '@styles/mixins';
@import '@styles/designTokens';

.PRIMARY {
  @include buttonTheme($button_primary_color);
  font-size: $typography_size_sm3;
  height: 48px;
  width: 100%;
  border-color: transparent;
  color: #fff;
  font-family: "Proxima-Nova-Ligth", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.SECONDARY {
  @include buttonTheme($button_secondary_color);
  font-size: $typography_size_sm3;
  height: 48px;
  max-width: 223px;
  min-width: 223px;
  border-color: transparent;
  color: #fff;
  font-family: "Proxima-Nova-Ligth", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
