
.Error404Container{
  text-align: center;
  margin-top: 160px;
}

.MainTitle{
  color: #333;
  font-size: $typography_size_sm5;
  margin-top: 1.645em;
  padding: 0 15px;
  line-height: 1;
}

.SecondaryMessage{
  color: #666;
  font-size: 1rem;
  text-decoration: none;
  width: auto;
}