@import '@styles/designTokens';

.ProductCardContainer {
  display: grid;
  background-color: $background_color_white_1;
  grid-template-columns: 212px 330px;
  grid-template-rows: auto 110px;
  max-width: 1180px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: thin solid #eee;
  padding: 16px 50px 16px 0;

  &:hover {
    border-bottom: 1px solid rgb(212, 211, 211);
  }

  @media only screen and (max-width: 480px) {
    margin-left: $margin_size_sm5;
    margin-right: $margin_size_sm5;
    grid-template-columns: auto auto;
    grid-template-rows: 50px 110px;
    max-width: fit-content;
  }

  @media only screen and (min-width: 480px) and (max-width: 681px) {
    max-width: fit-content;
  }

  .ImageProduct {
    grid-column-start: 1;
    grid-row: 1/3;
    width: 100%;
    max-width: 180px;
    height: 180px;
    margin-left: $margin_size_sm5;
    margin-right: $margin_size_sm5;
    border-radius: 4px;
    transition: all 0.5s ease;

    @media only screen and (max-width: 480px) {
      width: 120px;
      height: 120px;
    }

    @media only screen and (min-width: 480px) and (max-width: 681px) {
      width: 150px;
      height: 150px;
    }
  }

  .SubContainer {
    height: fit-content;
    margin-top: 9px;
    margin-bottom: $margin_size_lg3;
    width: min-content;
    inline-size: auto;

    .PriceProduct {
      font-size: $typography_size_md2;
      color: $brand_quaternary_color;

      @media only screen and (max-width: 480px) {
        font-size: $typography_size_sm4;
      }
    }

    .ShippingProduct {
      margin-left: $margin_size_sm2;
      margin-top: 6px;
    }
  }

  .TitleProduct {
    font-size: $typography_size_sm4;
    color: $brand_tertiary_color;
    grid-column-start: 2;
    grid-row-start: 2;

    @media only screen and (max-width: 480px) {
      width: 170px;
    }
  }

  .CityProduct {
    font-size: $typography_size_sm1;
    color: $brand_tertiary_color;
    margin-top: $margin_size_md2;
    grid-column-start: 3;
    text-align-last: right;

    @media only screen and (max-width: 900px) {
      display: flex;
      grid-column-start: 2;
      margin-top: 0;
      grid-row-start: 3;
    }
  }
}
