// BRAND COLORS
$brand_primary_color:     #FFE600;
$brand_secondary_color:   #999999;
$brand_tertiary_color:    #999999;
$brand_quaternary_color:  #333333;
$brand_blank_color:       #EEEEEE;

// BUTTON COLORS
$button_primary_color:    #3483FA;
$button_secondary_color:  #999999;


// PALLETTE EXTENDED
$background_color_gray_1:  #ededed;
$background_color_white_1:  #ffffff;

// FONT_SIZE
$typography_size_sm1 : 12px;
$typography_size_sm2 : 14px;
$typography_size_sm3 : 16px;
$typography_size_sm4 : 18px;
$typography_size_sm5 : 20px;
$typography_size_md1 : 22px;
$typography_size_md2 : 24px;
$typography_size_md3 : 26px;
$typography_size_md4 : 28px;
$typography_size_md5 : 30px;
$typography_size_lg1 : 32px;
$typography_size_lg2 : 34px;
$typography_size_lg3 : 36px;
$typography_size_lg4 : 38px;
$typography_size_lg5 : 40px;

// LINE_HEIGHT
$lineHeight_size_sm1 : 12px;
$lineHeight_size_sm2 : 14px;
$lineHeight_size_sm3 : 16px;
$lineHeight_size_sm4 : 18px;
$lineHeight_size_sm5 : 20px;
$lineHeight_size_md1 : 22px;
$lineHeight_size_md2 : 24px;
$lineHeight_size_md3 : 26px;
$lineHeight_size_md4 : 28px;
$lineHeight_size_md5 : 30px;
$lineHeight_size_lg1 : 32px;
$lineHeight_size_lg2 : 34px;
$lineHeight_size_lg3 : 36px;
$lineHeight_size_lg4 : 38px;
$lineHeight_size_lg5 : 40px;

// LINE_WEIGHT
$lineWeight_light    : '200';
$lineWeight_book     : '300';
$lineWeight_regular  : '400';
$lineWeight_bold     : '500';
$lineWeight_black    : '600';


// FONTS-FAMILY
@font-face {
  font-family: "Proxima-Nova-Ligth";
  font-display: optional;
  src: url("/fonts/proximanova-light.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima-Nova-Regular";
  font-display: optional;
  src: url("/fonts/proximanova-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima-Nova-Semibold";
  font-display: optional;
  src: url("/fonts/proximanova-semibold.woff2") format("woff2");
}