@mixin buttonTheme($backgroundColor) {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  background: $backgroundColor;
  cursor: pointer;

  &:hover {
    background: darken($backgroundColor, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($backgroundColor, 25%);
  }


}
