@import '@styles/designTokens';

.ProductDetailContainer {
  width: fit-content;
  margin: auto;
  width: 1028px;
  border-radius: 4px 4px 0 0;

  @media screen and (max-width: 750px) {
    width: 100%;
  }

  .ProductDetailData {
    background-color: $background_color_white_1;
    max-width: fit-content;
    display: grid;
    grid-template-columns: 712px auto;
    grid-template-rows: auto auto;
    margin: auto;
    padding-left: 24px;

    @media screen and (max-width: 1050px) {
      grid-template-columns: 45vw 40%;
    }

    @media screen and (max-width: 1000px) {
      display: block;
    }

    .ProductImage {
      grid-column: 1 1;
      margin-right: 32px;
      transition: all 0.5s ease;

      @media screen and (max-width: 1000px) {
        width: 75vw;
      }

      @media screen and (max-width: 750px) {
        display: block;
        margin: auto;
      }
    }

    .ProductDetailSubContainer__1 {
      grid-column: 2;
      grid-row: 1;
      margin-top: 32px;
      width: fit-content;

      .ProductCondition {
        font-size: $typography_size_sm2;
        margin-bottom: 16px;
      }

      .ProductTitle {
        font-size: $typography_size_md2;
        font-weight: 900;
        margin-bottom: 32px;
        margin-right: 32px;
      }

      .ProductPrice {
        font-size: $typography_size_lg5;
        margin-bottom: 32px;
      }

      .ProductCTA {
        margin-right: 32px;
      }
    }

    .ProductDescriptionTitle {
      font-size: $typography_size_md4;
      margin-top: 32px;
      margin-bottom: 32px;
      margin-left: 32px;
      font-weight: 600;

      @media screen and (max-width: 750px) {
        margin-left: 0;
      }
    }

    .ProductDescriptionContent {
      margin-left: 32px;
      font-size: $typography_size_sm3;
      width: 100%;
      grid-column: 1;
      grid-row: 1;
      margin-bottom: 32px;

      @media screen and (max-width: 750px) {
        margin-left: 0;
        padding-right: 12px;
      }
    }
  }
}
