@import '../../styles/designTokens';

.ProductDetailContainer {
  background-color: $background_color_white_1;
  max-width: 1080px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .ProductImage {
    border: 1px solid red !important;
    grid-column: 1 1;
  }

  .ProductDetailSubContainer__1 {
    border: 1px solid red;
    grid-column: 2;
    grid-row: 1;

    .ProductTitle {
      color: red;
    }

    .ProductPrice {
      color: blue;
    }

    .ProductCTA {
    }
  }

  .ProductDescription {
    width: 100%;
    color: red;
    grid-column: 1;
    grid-row: 1;
  }
}
