@import '@styles/designTokens';

.NavbarContainer {
  background-color: $brand_primary_color !important;
  height: 56px;
  justify-content: center;
  display: flex;

  .NavbarSubcontainer {
    min-width: 1028px;
    display: flex;
  }

  .NavbarIcon {
    height: 100%;
    padding: 8px 24px 5px 0;

    span {
      height: inherit !important;
    }
  }
}
