@import '@styles/designTokens';

.NavbarContainer {
  background-color: $brand_primary_color !important;
  height: 56px;
  justify-content: center;
  display: flex;

  .NavbarSubcontainer {
    width: 1028px;
    max-width: 1028px;
    display: flex;
    
    @media screen and (max-width: 468px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .NavbarIcon {
    height: 100%;
    padding: 8px 24px 5px 0;

    span {
      height: inherit !important;
    }
  }
}
