@import '@styles/designTokens';

.NavbarContainer {
  background-color: $brand_primary_color !important;
  height: 56px;
  justify-content: center;
  display: flex;


  .NavbarSubcontainer {
    width: 1052px;
    max-width: 1052px;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
  }

  .NavbarIcon {
    height: 100%;
    padding: 8px 24px 5px 0;

    span {
      height: inherit !important;
    }
  }
}
