@import '@styles/designTokens';

.Container {
  width: 721px;
  height: 204px;
  margin: auto;
  margin-top: 48px;
  background-color: $background_color_white_1;
  border-radius: 4px 4px 0 0;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.MainTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  grid-column: 2;
}

.List {
  grid-column: 2;

  li {
    color: rgba(0,0,0,.9);
    line-height: 1.231;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 3px;
    margin-left: 18px;

  }

}